services:
  - type: web
    name: discord-archiver
    env: docker
    plan: free
    region: oregon
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
      - key: CHANNELS
        sync: false
      - key: TELEGRAM_TOKEN
        sync: false
      - key: TELEGRAM_ADMIN_ID
        sync: false
      - key: HEADLESS
        value: "true"
